/* You can add global styles to this file, and also import other style files */

.message:hover {
    transform: scale(1.03);
}
.nb-theme-default nb-chat.ng-star-inserted {
    height: 28.5rem !important;
}
.chatButton {
    float: right;
    position: fixed;
    bottom: 9%;
    right: 28px;
    width: 41px;
	cursor: pointer;
	font-size: 43px;
    color: #007EAF;
}
.nb-theme-default p{
	font-size:13px !important;
}
.nb-theme-default nb-chat-message nb-chat-message-text .sender {
    font-size: 10px !important;
}
nb-chat .header {
    background-color: #007EAF;
    color: #fff !important;
	font-weight: 100 !important;
	padding: 20px !important;
}
.nb-theme-default nb-chat-message.not-reply nb-chat-message-text .text {
    background: #f7f9fc !important;
	color: black !important;
}
.nb-theme-default nb-chat-message.reply nb-chat-message-text .text {
    color: white !important;
    background: #007EAF !important;
}
.nb-theme-default [nbButton].appearance-filled.status-primary {
    background-color: #007EAF !important;
	border-color: #007EAF !important;
}

.hided {
    display: none;
}
.box {
    background-color: #FFCC55;
    max-height: 0px;
    overflow-y: hidden;
    transition: ease-in-out 400ms max-height;
}

.box.opened {
    max-height: 100%;
    transition: ease-in-out 600ms max-height;
}
.chatButton:focus i {
  animation: rotate 1s ease-in-out 0s;
}
.nb-theme-default [nbInput].shape-rectangle {
    margin-right: 2%;
	font-weight: 100 !important;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.nb-theme-default nb-layout .layout .layout-container .content nb-layout-footer nav{
	padding: 0px !important;
}
.nb-theme-default nb-chat-message .avatar {
    display: none;
}
.nb-theme-default nb-chat-message{
	margin-bottom:11px !important;
}
.nb-theme-default nb-chat-message p {
    margin: 0px;
}
button nb-icon svg {
	display:none !important;
}
nb-icon.toggleIcon svg {
    display: inline-block !important;
}
nb-icon.toggleIcon i {
    display: none !important;
}
.chatloader{
	display:none;
}
.dropped-files .ng-star-inserted:nth-child(even) {
    display: none;
}
.chatloader img {
    width: 45px;
}
.voiceIcon i {
    position: fixed;
    bottom: 20%;
    right: 9.50%;
    font-size: 19px;
    color: #007EAF;
}
.modal-dialog {
	max-width:50%;
}
.modal-header{
background-color: #007EAF;
    
}
.modal-title{
    font-size: .9375rem !important;
	color: #fff !important;
}
.modal-content {
    border-radius: 8px;
}
.readMore{
	height:59px;
	display:inline-block;
	overflow:hidden;
}
span.readMoreClick {
    text-decoration: underline;
    color: #36F;
}